.dialog-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 10px;
}

.full-width {
  width: 100%;
}

.row {
  display: flex;
  gap: 16px;
  width: 100%;
}

.flex-1 {
  flex: 1;
}

:host {
  display: block;
  min-width: 400px;
}